%div
  .page-title
    .title_left
      %h3
        %i.fa.fa-tags
        = "Brands"
  .clearfix
  .row
    .col-md-12.col-sm-12.col-xs-12
      .col-md-6.col-sm-6.col-xs-6
        = render :partial => 'form'
      .col-md-6.col-sm-6.col-xs-6
        .table-responsive
          %table.table.table-striped.jambo_table.bulk_action
            %thead
              %tr.headings
                %th.column-title Name
                %th.col-md-4.column-title Owner Name
                %th.column-title.no-link.last
                  %span.nobr Action
            %tbody
              = render @brands
        = paginate @brands