%section#product-info
  .row
    .container
      .list-group
        %li.list-group-item.bg-grey
          .row
            .col-sm-2 #ID
            .col-sm-2 AMOUNT
            .col-sm-1 ITEM NO
            .col-sm-1 STATUS
            .col-sm-5 DATE
            .col.sm-1
        = render @orders
