%div
  .page-title
    .title_left
      %h3
        %i.fa.fa-book
        = "Catelogs"
  .clearfix
  .row
    .col-md-12.col-sm-12.col-xs-12
      .col-md-5.col-sm-5.col-xs-5
        = render :partial => 'form'
      .col-md-7.col-sm-7.col-xs-7
        .table-responsive
          %table.table.table-striped.jambo_table.bulk_action
            %thead
              %tr.headings
                %th
                  %input#check-all.flat{:type => "checkbox"}
                %th.column-title Name
                %th.col-md-4.column-title Status
                %th.column-title.no-link.last
                  %span.nobr Action
                %th.bulk-actions{:colspan => "7"}
                  %a.antoo{:style => "color:#fff; font-weight:500;"}
                    Bulk Actions (
                    %span.action-cnt               )
                    %i.fa.fa-chevron-down
            %tbody
              = render @catelogs